@keyframes searching {
    start {
        width: 40px;
    }

    end {
        width: fit-content;
    }
}

@keyframes notSearching {
    start {
        width: fit-content;
    }

    end {
        width: 40px;
    }
}